/* .footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: white;
  background-color: rgb(17, 17, 17);
  position: relative;
  bottom: -150px;
  width: 100%;

  padding-top: 40px;
}

.col_company h6 {
  font-size: 15pt;
  padding-left: 30px;
}

.col_company li {
  color: rgb(187, 185, 185);
  list-style: none;
}

.col_company li:hover {
  color: rgb(255, 255, 255);
}

.col_help h6 {
  font-size: 15pt;
  padding-left: 20px;
}

.col_help li {
  color: rgb(187, 185, 185);
  list-style: none;
}

.col_help li:hover {
  color: rgb(255, 255, 255);
}

.email {
  margin-top: 10px;
  margin-right: 90px;
}
.btn_subscribe {
  margin-top: 10px;
  margin-left: -100px;
  margin-right: 90px;
}

.col_newsletter h6 {
  color: rgb(218, 219, 219);
}

.dropdown_region {
  margin-top: 10px;
}

.dropdown_currency {
  margin-top: 10px;
}

.footer_copyright {
  color: white;
  background-color: rgb(44, 44, 44);
}

.h5 {
  font-size: 15pt;
}

.socialicons {
  margin-left: -40px;
}
.socialicons li {
  float: left;
  padding-left: 10px;
  list-style: none;
}

.cardimg li {
  float: left;
  list-style: none;
}

.card1 {
  margin-left: -30px;
} */

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: white;
  background-color: rgb(17, 17, 17);
  /* position: relative; */
  /* bottom: -150px; */
  width: 100%;

  padding-top: 40px;
}

.col_company h6 {
  font-size: 15pt;
  padding-left: 30px;
}

.col_company li {
  color: rgb(187, 185, 185);
  list-style: none;
}

.col_company li:hover {
  color: rgb(255, 255, 255);
}

.col_help h6 {
  font-size: 15pt;
  padding-left: 20px;
}

.col_help li {
  color: rgb(187, 185, 185);
  list-style: none;
}

.col_help li:hover {
  color: rgb(255, 255, 255);
}

.email {
  margin-top: 10px;
}
.btn_subscribe {
  margin-top: 10px;
  margin-left: -100px;
  margin-right: 90px;
}

.col_newsletter h6 {
  color: rgb(218, 219, 219);
}

.dropdown_region {
  margin-top: 10px;
}

.dropdown_currency {
  margin-top: 10px;
}

.footer_copyright {
  color: white;
  background-color: rgb(44, 44, 44);
}

.h5 {
  font-size: 15pt;
}

.socialicons {
  margin-left: -40px;
}
.socialicons li {
  float: left;
  padding-left: 10px;
  list-style: none;
}

.cardimg li {
  float: left;
  list-style: none;
}

.card1 {
  margin-left: -30px;
}

.fa-pinterest-square:hover {
  color: #fc1f1f;
  background-color: #fc1f1f;
}
