.nav {
  background-color: cadetblue !important;
}
.delete {
  color: crimson;
}
.edit {
  color: rgb(93, 107, 235);
}
.action {
  opacity: 0;
}
tr:hover .action {
  opacity: 1;
}
.admin_footer {
  width: 100%;
  background-color: cadetblue;
  color: white;
  height: 50px;
  text-align: center;
  bottom: 0;
  padding: 10px;

  width: 100%;
}

.end {
  width: 100%;
  height: 50px;
  background-color: cadetblue;
  color: white;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding: 10px;
}
.height {
  min-height: 100vh;
}
